---
import Layout from "../components/Layout.astro"

const posts = await Astro.glob("./blogs/*.md")
---

<Layout
	title="Home"
	description="30 Days of CLG Askmitra - Deep dive into JavaScript - Dipshan Adhikari"
>
	<h1>30 Days of CLG Askmitra</h1>

	<p>
		Hi, I am Dipshan & I have decided to start 30 Days of CLG Askmitra to
		deep dive into JavaScript and gain an understanding of scope, callbacks,
		higher-order functions, closure, thread & call stack, execution context,
		task queue, asynchronous and object-oriented JavaScript!
	</p>

	<h2>My Journey</h2>

	<ol>
		{
			posts.map(post => (
				<li>
					<h3>{post.frontmatter.title}</h3>
					<ul>
						{post
							.getHeadings()
							.filter(heading => heading.depth > 1)
							.map(heading => (
								<li>
									<a href={`${post.url}#${heading.slug}`}>
										{heading.text}
									</a>
								</li>
							))}
					</ul>
				</li>
			))
		}
	</ol>
</Layout>
